<p>This site was created with this frameworks:</p>
<div class="container mt-5">
  <ul class="list-unstyled">
    <li class="media">
      <img src="assets/code.svg" class="mr-3" alt="...">
      <div class="media-body">
        <h5 class="mt-0 mb-1">Typescript</h5>
      </div>
    </li>
    <li class="media my-4">
      <img src="assets/code.svg" class="mr-3" alt="...">
      <div class="media-body">
        <h5 class="mt-0 mb-1">Jquery</h5>
      </div>
    </li>
    <li class="media">
      <img src="assets/code.svg" class="mr-3" alt="...">
      <div class="media-body">
        <h5 class="mt-0 mb-1">Tether</h5>
      </div>
    </li>
  </ul>
</div>
